[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox-pyenv = "*"
flaky = "*"
flake8 = "*"
pytest = ">=3.6"
pytest-cov = ">=2.6"
coveralls = "*"
tox = "*"
mock = "*"

[packages]
djangorestframework = ">=3.5"
pytest-django = "*"
django-environ = "*"
django = ">=3.1.8"
six = ">=1.13.0"

[requires]
python_version = "3.8"
