# Minimum Django and REST framework version
Django>=3.1
djangorestframework>=3.5
six>=1.14.0

# Test requirements
pytest-django
django-environ
pytest>=3.6
pytest-cov>=2.6
coveralls
flaky
flake8
tox
drf-yasg>=1.20

# wheel for PyPI installs
wheel

mock
