[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-yasg = "*"
drf-api-tracking = {editable = true, path = "./../../drf-api-tracking"}

[requires]
python_version = "3.7"
